VITE_TINODE_HOST=localhost:6060
VITE_TINODE_SECURE=false
VITE_TINODE_API_KEY=AQEAAAABAAD_rAp4DJh05a1HAwFT3A6K

POSTGRES_DB=tinode
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Local development only. Replace/disable this before production.
DEBUG_EMAIL_VERIFICATION_CODE=123456
